body {
    /* 1400 x 800*/
    background-image: url("background.png");
   
   
}
.grid-container {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 50px;
    margin-right: 700px;
}
.grid-item {
    background-color: rgb(105, 116, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    border: 1px solid #000;
    width: 40px;
    height: 70px;
}